body {
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
}

#title-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title-bar ul li {
    float: left;
    font-size: 22px;
}

#title-bar ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar {
    position: fixed;
    top: 60px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    background-color: white;
    z-index: 1;
}

.nav-shadow {
    opacity: 0.9;
    box-shadow: 0px 1px 0px #c1c1bd;
}

.nav {
    margin:0;
    text-align:center;
    padding: 9px 5px;
    font-size: 13px;
    font-weight: 500;
}
.nav li {
    display:inline;
}
.nav a {
    display:inline-block;
    margin:10px;
    padding: 5px;
    color: black;
    text-decoration: none;
    font-size: 12px;
}

.container {
    margin-top:72px;
    display: block;
}

.item {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 20px 0;
}

.item img {
    vertical-align: middle;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

button {
    border: none;
    background: none;
}

button a {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #000;
    background-color: #FFF;
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin: 0;
    padding: 8px 44px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
}

.small-item {
    display: flex;
}

.small-item .item {
    width: 50%;
}

.cart-icon {
    float: right;
    width: 50px;
}

.nav-mob {
    width: 50px;
    visibility: hidden;
}

.web-title {
    width: calc(100% - 100px);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
    color: black;
    text-decoration: none;
}

h2 {
    font-size: 1.1em;
    font-weight: 500;
    margin: 32px 0;
}

.footer {
    text-align: center;
    margin-top: 15px;
    line-height: 24px;
}

.footer a {
    text-decoration: none;
    color: #8c7e7e;
}

.footer a:hover {
    text-decoration: underline;
}

.demo-label {
    box-sizing: border-box;
    width: 120px;
    padding: 6px;
    margin: 8px auto 0;
    background-color: #151414cf;
    color: white;
    text-transform: uppercase;
}

.cart-count {
    position: absolute;
    top: 7px;
    right: 3px;
    color: white;
    background-color: #3b3a69;
    font-size: 16px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    opacity: 0.9;
}

.item span {
    color: #8c7e7e;
    font-size: 14px;
}

.single-item {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    float: left;
}

.single-item h2{
    margin-bottom: 0;
}

.product-grid {
    width: 99%;
    display: inline-block;
    margin: auto;
}

.single-item a {
    text-align: -webkit-auto;
}

.remove-margin h2 {
    margin-bottom: 0;
}

.active {
    border-bottom: 1px solid black;
}

.nav-back {
    width: 50px;
}

.product-container {
    margin: 70px;
    display: flex;
}

.product-image {
    width: 55%;
    padding: 30px;
}

.product-info {
    width: 45%;
    margin: 64px 32px;
    max-width: 400px;
}

.product-info h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
}

.price {
    margin: 16px 0 40px;
    font-size: 16px;
    color: #8c7e7e;
}

.pickers {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
}

.shop-select {
    position: relative;
}

.sizeLabel {
    position: absolute;
    left: 0px;
    top: calc(50% - 8px);
    line-height: 16px;
    color: #8c7e7e;
    pointer-events: none;
}

.sizeSelect {
    font-size: 16px;
    padding: 16px 24px 16px 70px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

.description {
    margin: 32px 0;
}

.description h2 {
    margin: 16px 0;
    font-size: 15px;
}

.description p , .description div {
    margin: 0;
    color: #8c7e7e;
    font-size: 12px;
}

select:focus {
    outline: none;
}

.cart-head {
    text-align: center;
}

.cart-head h1 {
    margin: 0 0 4px 0;
    font-size: 1.3em;
    font-weight: 500;
}

.cart-head span {
    font-size: 12px;
    color: #8c7e7e;
}

.cart-list {
    margin: 40px 0;
}

.cart-item {
    display: flex;
    position: relative;
    max-height: 70px;
    margin: 24px 18%;
}

.cart-item img {
    height: 100%;
}

.item-option {
    display: flex;
    flex: 1;
    margin-left: 24px;
}

.product-name {
    flex: 1;
    line-height: 20px;
    font-weight: 500;
    float: left;
    width: calc(100% - 438px);
    margin-top: 26px;
    margin-right: 30px;
}

.product-detail {
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-right: 30px;
    height: 20px;
}

.product-quantity {
    min-width: 80px;
    width: 160px;
}

.product-detail .size {
    min-width: 70px;
    width: 144px;
    color: #8c7e7e;
}

.product-detail .price {
    min-width: 70px;
    width: 100px;
    color: #8c7e7e;
    margin: 0;
}

.product-quantity .sizeSelect {
    padding: 0 6px 0 40px;
    width: auto;
    border-bottom: none;
}

.product-detail i {
    color: #8c7e7e;
}

a {
    white-space: nowrap;
    text-decoration: none;
    color: #8c7e7e;
    font-size: 18px;
}

.cart-container {
    display: block;
    margin-top: 90px;
    min-height: 600px;
}

.checkout-box {
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    margin: 24px 18%;
}

.subtotal {
    margin: 0 64px 0 24px;
}

.form-section {
    margin: 0 auto;
    padding: 0 24px 48px 24px;
    max-width: 900px;
}

.form-head {
    text-align: center;
}

.form-head h1 {
    margin: 0 0 4px 0;
    font-size: 1.3em;
    font-weight: 500;
}

.form-head span {
    font-size: 12px;
    color: #8c7e7e;
}

.form-data {
    margin-top: 40px;
    display: flex;
}

.form-data section {
    flex: 1;
}
  
.input , select {
    border: none;
    font-size: 18px;
    height: 50px;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #AAA;
}

input:focus::-webkit-input-placeholder {
    color: #AAA;
}

.input:focus+.underline , .select:focus+.underline {
    transform: scale(1);
}

.underline {
    background-color: black;
    display: inline-block;
    height: 1px;
    transform: scale(0, 1);
    transition: all 0.5s linear;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #aaa;
    margin: 3px;
}

.field-wrap {
    display: flex;
}

.field-wrap div {
    min-width: 33%;
}

.form-data section {
    flex: 1;
    margin: 0px 18px;
}

.wrapper .sizeSelect {
    padding-left: 0;
    border-bottom: none;
}

.remove-margin div {
    margin-bottom: -14px;
}

.order-summary {
    margin-top: 45px;
    font-size: 12px;
}

.item-list {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin: 28px 0;
}